*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
body{
    height: 100vh;
    background-color: #222327;
    color: #fff;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    transition: all .50s ease;
    padding: 28px 11%;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    font-size: 28px;
    margin-right: 10px;
}
.logo a{
   color: #fff;
   font-size: 1.7rem;
   font-weight: 600;
}
.navbar{
    display: flex;
}
.navbar a{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 15px;
    transition:all .50s ease;
    border-bottom: 3px dotted transparent;
    font-size: 17px;
}
.navbar a:hover{
    color: #29fd53;
    border-bottom: 3px dotted #29fd53;
}
.navbar a.active{
    color: #29fd53;
}
.login{
    display: flex;
    align-items: center;
}
.login a{
    margin-right: 25px;
    margin-left: 10px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all .50s ease;
}
.login a:hover{
    color: #29fd53;
}
.user i{
    font-size: 22px;
    margin-right: 10px;
}
#menu{
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    display: none;
}

@media (max-width: 1100px){
    #menu{
        display: block;
    }
    .navbar{
        display: none;
        position: fixed;
        top: 10%;
        right: -100%;
        width: 270px;
        height: 25vh;
        background-color: #29fd53;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 10px;
        transition: all .50s ease;
        padding-top: 45px;
    }
    .navbar a {
        display: block;
        margin: 3px 0;
        padding: 0 25px;
    }
    .navbar a:hover{
        color: #222327;
    }
    .navbar a.active{
        color: #222327;
    }
    .navbar.open{
        right: 11%;
    }
}
@media (max-width: 550px){
    header{
        padding: 28px 9%;  
    }
    .logo a{
        font-size: 1.5rem;
    }
    #menu{
        font-size: 25px;
    }
    .login a{
        margin-left: initial;
        margin-right: 15px;
    }
}
@media (max-width: 420px){
    header{
        padding: 28px 5.5%;  
    }
    .login a{
        margin-right: 15px;
        font-size: 1.1rem;
    }
}